body {
    margin: 0;
    background-color: antiquewhite;
}

#wrapper {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 250% 90% 10%;
    height: 100vh;
    grid-template-areas: 
    'hd'
    'sc'
    'mn'
    'ft'
    ;
}

header {
    grid-area: hd;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 5px;
}

section {
    grid-area: sc;
    border: 1px solid black;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

main {
    grid-area: mn;
    border: 1px solid black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    font-size: 50px;
    margin: 5px;
    margin-top: 20px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.undertitel {
    font-size: 25px;
    color: #f39c12;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2 {
    font-size: 20px;
    margin: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

footer {
    grid-area: ft;
    background-color: rgb(223, 199, 168);
    display: flex;
    flex-direction: row;
    margin: 0;
    margin-top: 0;
    border: 1px  solid #f39c12;
    justify-content: space-evenly;
}

.card {
    box-shadow: 0 4px 8px 0 black;
    transition: 0.3s;
    height: 30%;
    justify-content: space-evenly;
    margin: 10px;
    border-radius: 10px;
}

.container {
    margin: 5px;
}

img {
    border-radius: 10px;
    border: 1px solid black;
    width: 50%;
    margin-left: 25%;
}

a {
    color: black;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    margin-top: 20px;
}

a:hover{
    color: rgb(36, 105, 234);
}