body {
    margin: 0;
    background-color: antiquewhite;
}

#wrapper {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 250% 110% 15%;
    height: 100vh;
    grid-template-areas: 
    'hd'
    'sc'
    'mn'
    'ft'
    ;
}

header {
    grid-area: hd;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 5px;
}

section {
    grid-area: sc;
    border: 1px solid black;
    margin: 5px;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

main {
    grid-area: mn;
    border: 1px solid black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 10px;
}

h1 {
    font-size: 50px;
    margin: 5px;
    margin-top: 20px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.undertitel {
    font-size: 25px;
    color: #f39c12;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2 {
    font-size: 20px;
    margin: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

footer {
    grid-area: ft;
    background-color: rgb(223, 199, 168);
    border: 1px solid black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.card {
    box-shadow: 0 4px 8px 0 black;
    transition: 0.3s;
    height: 30%;
    justify-content: space-evenly;
    margin: 10px;
    border-radius: 10px;
}

.container {
    margin: 5px;
}

img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}